.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .login-card {
    width: 400px;
    padding: 20px;
    text-align: center;
    background-color: #212121; /* Color de fondo oscuro */
    color: white; /* Color de texto blanco */
    border-radius: 8px;
  }
  
  .logo-container {
    margin-bottom: 20px;
  }
  
  .logo {
    width: 150px; /* Ajusta el tamaño del logo */
    height: auto;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    margin-top: 20px;
  }
  