.sidenav-container {
    height: 100vh;
  }
  
  .sidenav {
    width: 300px;
  }
  
  .sidenav-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    padding: 24px;
    height: 200px; /* Aumenta la altura */
  }
  
  .user-image {
    border-radius: 50%;
    width: 100px; /* Aumenta el tamaño de la imagen */
    height: 100px; /* Aumenta el tamaño de la imagen */
    margin-right: 20px;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
  }
  
  .user-info h3 {
    margin: 0;
    font-size: 24px; /* Aumenta el tamaño del texto */
  }
  
  .user-info p {
    margin: 8px 0 0 0; /* Aumenta el espacio entre párrafos */
    font-size: 18px; /* Aumenta el tamaño del texto */
  }
  
  .mat-list-item {
    padding: 12px 16px;
    height: 60px; /* Aumenta la altura */
  }
  
  .mat-list-item mat-icon {
    margin-right: 16px;
  }
  
  .content {
    padding: 20px;
  }
  